<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for read and write on Excel -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".AboutUs.AboutUSActivity"
            android:parentActivityName=".Options.OptionActivity"
            android:label="Abut us"
            android:exported="false"
            android:theme="@style/MyThemeActionBarForAboutUs"
            />
        <activity
            android:name=".Options.OptionActivity"
            android:exported="false"
            android:label="Options"
            android:theme="@style/MyThemeActionBarForOptions" />
        <activity
            android:name=".Splash.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TeacherAssistant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShortNotes.ShortNotesActivity"
            android:exported="false"
            android:label="Short Notes"
            android:parentActivityName=".Options.OptionActivity"
            android:theme="@style/MyThemeActionBarForShortNotes" />
        <activity
            android:name=".CourseMaterial.CourseMaterialActivity"
            android:label="Course Materials"
            android:parentActivityName=".Options.OptionActivity"
            android:exported="false"
            android:theme="@style/MyThemeActionBarForCourseMaterial" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.TeacherAssistant" />
        <activity
            android:name=".Attendance.AttendanceActivity"
            android:parentActivityName=".Options.OptionActivity"
            android:exported="true"
            android:theme="@style/MyAttendanceTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>